<div class="container mt-10">
  <div (click)="onLevel('principiante')" class="card bg-dark text-white shadow mb-5 bg-body rounded">
    <img height="350" src="../../../../assets/img/novice.jpg" class="card-img" alt="...">
    <div class="card-img-overlay p-5">
      <h5 class="card-title">PRINCIPIANTE</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div (click)="onLevel('intermedio')" class="card bg-dark text-white shadow mb-5 bg-body rounded">
    <img height="350" src="../../../../assets/img/middle2.jpg" class="card-img" alt="...">
    <div class="card-img-overlay p-5">
      <h5 class="card-title">INTERMEDIO</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>

  <div (click)="onLevel('avanzado')" class="card bg-dark text-white shadow mb-5 bg-body rounded">
    <img height="350" src="../../../../assets/img/advanced.jpg" class="card-img" alt="...">
    <div class="card-img-overlay p-5">
      <h5 class="card-title">AVANZADO</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
