<div class="card mb-2">
  <bh-spinner [message]="spinnerMessage"></bh-spinner>
  <div class="card-header">
    <img
      class="rounded-circle userImg"
      width="30px"
      height="30px"
      alt="100x100"
      [src]="commentary.usuario.imagen"
      data-holder-rendered="true"
    />
    <span class="userName">
      {{commentary.usuario.nombres}} {{commentary.usuario.apellidos}}
    </span>
    <div ngbDropdown class="toggleButton">
      <ng-container *ngIf="options">
        <i ngbDropdownToggle><img width="30px" src="../../../assets/icons/points.svg"></i>
      <div ngbDropdownMenu>
        <!-- <div class="dropdown-divider"></div> -->
        <button (click)="onDelete()" ngbDropdownItem>Eliminar <i class="icon"><img width="20px" src="../../../assets/icons/delete.svg"></i></button>
      </div>
      </ng-container>

    </div>
  </div>
  <div class="card-body">
    <p class="date">{{commentary.fecha | date: format}}</p>
    <p class="card-text">
      {{commentary.mensaje}}
    </p>
  </div>
</div>
